<%= form_tag(movies_path, method: "get") do %>
  <div>
    <%= label_tag(:is_showing, "All") %>
    <%= radio_button_tag(:is_showing, nil, params[:is_showing].blank?, class: "form-check-input") %>
  </div>
  <div>
    <%= label_tag(:is_showing, "Now showing") %>
    <%= radio_button_tag(:is_showing, true, params[:is_showing] == "true", class: "form-check-input") %>
  </div>
  <div>
    <%= label_tag(:is_showing, "Coming soon") %>
    <%= radio_button_tag(:is_showing, false, params[:is_showing] == "false", class: "form-check-input") %>
  </div>
  <div>
    <%= text_field_tag(:keyword, params[:keyword], placeholder: "Search by name or description", class: "form-control") %>
  </div>
  <div>
    <%= submit_tag("Search", class: "btn btn-primary") %>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Year</th>
      <th>Description</th>
      <th>Image</th>
      <th>Is Showing</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.id %></td>
        <td><%= movie.name %></td>
        <td><%= movie.year %></td>
        <td><%= movie.description %></td>
        <td><%= image_tag movie.image_url %></td>
        <td><%= movie.is_showing %></td>
      </tr>
    <% end %>
  </tbody>
</table>
